
body{
  background-color: '#CD1D34';
}

.labels{
  width: 100% !important
}
.labels >div
{
  width: 30%
}

.Big
{
  height: 10vh;
  /* width:10vw; */
  font-size: 2vh !important;
}
.big2
{
  background-color: #DA1A31 
}
.BigMiddle
{
  margin-top:1rem !important;
  font-size: 2vh !important;

}

.special_grid{
  width: 30% !important;
  margin: auto !important;
  
}

@media (max-width: 600px)
{
  .special_grid
  {
    width:100% !important
  }
} 